{% extends "bootstrap/base.html" %}
{% block title %}Customers{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Subaccount Demo</a>
    </div>
    {% if name is defined %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href={{ url_for("logout") }}>Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><img src="{{pic}}" style="height: 33px; width: 33px; border-radius: 50%; margin-left: 5px; margin-top:8px"/></li>
      </ul>
    </div>
    {% endif %}
  </div>

</div>
{% endblock %}
{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}
</div>
{% endblock %}